.login-container {
    
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    background-color: #d1bfbf;
    margin: 0 auto;
}
.error {
    color: red;
    margin-top: -20px;
    float: left;
}
/* Styling for the main heading */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Styling for the paragraph */
p {
    color: #666;
    margin-bottom: 20px;
}

/* Styling for labels */
label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
    float: left;
    margin-top: 3px;
}

/* Styling for input fields */
input[type='email'],
input[type='password'] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Styling for the buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 3px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Link button styling to avoid default link styles */
a {
    text-decoration: none;
}

body {
    background-color: grey;
}